.container {
    width: 300px;
    height: 60px;
    border-width: 1px;
    border-top-style: solid;
    border-bottom-style: solid;
}

h4 {
    margin: 5px 0 10px 8px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
}

.bottomArea {
    display: flex;
    justify-content: space-between;
    padding: 0 8px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;

    color: #323232;
}

.selected {
    width: 300px;
    height: 60px;
    border-width: 1px;
    border-top-style: solid;
    border-bottom-style: solid;
    background-color: #E3F0F7;
}