.container {
    height: 100vh;
    background: linear-gradient(90deg, #E3F0F7 1.27%, rgba(227, 117, 237, 0.54) 100%);

}

.root {
    height: 100vh;
    background: linear-gradient(90deg, #E3F0F7 1.27%, rgba(227, 117, 237, 0.54) 100%);
    display: block;

}

.exit {
    margin-left: 80%;
    color: #8C8E9D
}

.title {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
}

.chart {
    display: flex;
    justify-content: center;
}

.table {

    margin-top: 60px;
    display: flex;
    justify-content: center;
}

.table td {

    border-spacing: 0;
}

.tab td {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 130%;
    border-bottom: 5px solid #ECC8F6;
}

.tab {
    max-width: 1000px;
    border-collapse: collapse;
    border-spacing: 0;
    width: 90%;
}

.tab input {
    width: 50px;
    height: 30px;
    border-radius: 1px;
    background-color: #BCBFD2;
    margin: 2px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 130%;
}


.tabHeadIndex {}

.tabHeadValue {}

.tabHeadApprove {
    width: 12%;
    text-align: right;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
}

.tabIndex {
    background-color: #9496aa;
    padding-left: 10px;
}

.tabValue {
    color: #444343;
    text-align: center;
    width: 60px;
    background-color: #9496aa;
}

.tabApprove {
    text-align: right;
    padding-right: 10px;
    background-color: #9496aa;
}

.save {

    margin-top: 20px;
    display: flex;
    justify-content: center;

}

.save button {

    background-color: #BCBFD2;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 130%;
}