.content {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;

}

.exit {
    margin-left: 80%;
    color: #8C8E9D
}

.exit img {
    margin-left: 10px;
}

.container {
    padding: 10px;
    display: block;


    background: linear-gradient(90deg, #E3F0F7 1.27%, rgba(227, 117, 237, 0.54) 100%);
}