.plateContainer {
    width: 245px;
    height: 220px;
}

.mainPlate {

    padding: 5px;
    color: #FFFDFD;
    background-color: #7F8BF2;
    display: block;

}


.weight {
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    letter-spacing: -0.38px;

    color: #ECE5DC;
}

.index {

    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 0.946809px;

    color: #FFFDFD;
}

.yearBlock {
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: -0.387234px;

    padding: 0 10px;
    color: #EEE0E0;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.yearLast {}

.yearCurrent {}

.valueBlock {
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    letter-spacing: -0.553191px;

    padding: 0 25px;
    color: #EEE0E0;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.valueLast {}

.valueCurrent {}

.result {
    font-weight: 400;
    font-size: 32px;
    line-height: 44px;
    letter-spacing: -0.553191px;

    color: #ECECEC;
    padding: 5px 5px 5px 10px;
    background-color: #6773DE;
}